# C++ objects and libs
*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib
*.qm
# Qt-es
object_script.*.Release
object_script.*.Debug
*_plugin_import.cpp
/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h
*.qmlc
*.jsc
Makefile*
*build-*
build/

# Qt unit tests
target_wrapper.*

# QtCreator
*.autosave

# QtCreator Qml
*.qmlproject.user
*.qmlproject.user.*

# QtCreator CMake
CMakeLists.txt.user*

# AI
.cursor
.specstory
.cursorindexingignore
.claude_settings.json
# Auto Claude data directory
.auto-claude/
.claude/

# vs code
.vscode/

# debian
debian/.debhelper/
debian/deepin-devicemanager.debhelper.log
debian/deepin-devicemanager.postrm.debhelper
debian/deepin-devicemanager.substvars
debian/deepin-devicemanager/
debian/files

# build
obj-x86_64-linux-gnu/
