[Desktop Entry]
Categories=Utility;
Comment=Device Manager is a gadget for viewing device information.
Exec=dde-devicemanager
GenericName=dde-devicemanager
Icon=/usr/share/dde-devicemanager/cpu.svg
Name=dde-devicemanager
Name[zh_CN]=日志管理器
Terminal=false
Type=Application
Version=1.0
X-Ayatana-Desktop-Shortcuts=dde-devicemanager
X-Deepin-Vendor=user-custom
