[Desktop Entry]
Categories=Utility;
Comment=Device Manager is a gadget for viewing device information.
Exec=deepin-devicemanager
GenericName=deepin-devicemanager
Icon=/usr/share/deepin-devicemanager/cpu.svg
Name=deepin-devicemanager
Name[zh_CN]=设备管理器
Terminal=false
Type=Application
Version=1.0
X-Ayatana-Desktop-Shortcuts=deepin-devicemanager
X-Deepin-Vendor=user-custom
