[Desktop Entry]
Categories=Utility;
Comment=Device Manager is a gadget for viewing device information.
Exec=DeviceManager
GenericName=DeviceManager
Icon=/usr/share/dde-devicemanager/cpu.svg
Name=DeviceManager
Terminal=false
Type=Application
Version=1.0
X-Ayatana-Desktop-Shortcuts=DeviceManager
X-Deepin-Vendor=user-custom
