<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>
  <vendor>LinuxDeepin</vendor>
  <vendor_url>https://www.deepin.com/</vendor_url>
  <action id="com.deepin.pkexec.deepin-devicemanager">
  	<description>Run Device Manager Need Authentication</description>
   <description xml:lang="zh_CN">设备管理器需要授权以读取硬件信息</description>
    <message>Authentication is required to read hardware information</message>
    <message xml:lang="zh_CN">需要授权以读取硬件信息</message>
    <icon_name></icon_name>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/deepin-devicemanager-authenticateProxy</annotate>
    <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
  </action>
</policyconfig>
