[Unit]
Description=Deepin Device Manager Daemon
After=multi-user.target
[Service]
Restart=always
ExecStart=/usr/bin/deepin-devicemanager-server
RemainAfterExit=yes
User=root

[Install]
WantedBy=multi-user.target
