[Desktop Entry]
Categories=Utility;
Comment=Device Manager is a handy tool for viewing hardware information and managing the devices.
Exec=deepin-devicemanager
Icon=deepin-devicemanager
GenericName=deepin-devicemanager
Name=deepin-devicemanager
Name[zh_CN]=深度设备管理器
Terminal=false
Type=Application
X-Ayatana-Desktop-Shortcuts=deepin-devicemanager
X-Deepin-Vendor=deepin

# Translations:
# Do not manually modify!
GenericName[zh_CN]=设备管理器
